<!DOCTYPE html>
<html lang="ko">
  <head>
  	<th:block th:replace="fragments/header :: headerFragment"></th:block>
  </head>
  <body>
    <th:block th:replace="fragments/sidenav :: sideFragment"></th:block>
	    <div class="blog-body" id="seekeye">
	    	<h1 id="titles">
	        	<font color="#bd5d38" style="font-size: 5rem;">S</font>eekEye
	      	</h1>
	      	<p class="pharagraph" style="padding-left: 15px; margin-top: -20px;">
	        	Seekers (2020.08 ~ 2021.06)
	      	</p>
	      	<div
	        id="seekeye-carousel"
	        class="carousel slide"
	        data-pause="hover"
	        data-interval="false"
	        data-ride="carousel"
	      	>
		        <div class="carousel-inner">
		          	<div class="carousel-item active carousel-content">
		            	<div class="cc-main">
		              		<div class="ccmain-image">
		                		<img class="cmImage" src="" />
		              		</div>
			              	<div class="ccmain-desc">
			                	<p class="pharagraph-dark">
				                	설명란
			                	</p>
			              	</div>
		            	</div>
			            <div class="cc-bottom">
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap">
			                		<img src="/assets/images/icons/springboot.png" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap" style="padding-top: 10px;">
			                		<img src="/assets/images/icons/psql.jpg" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap" style="padding-top: 20px;">
			                		<img src="/assets/images/icons/elasticsearch.png" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap">
			                		<img src="/assets/images/icons/kafka.png" class="cbcImage" />
			                	</div>
			              	</div>
			            </div>
		          </div>
		          <div class="carousel-item carousel-content contentPadding">
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="" />
		                		</div>
		               		 	<p class="pharagraph-dark mt-2">
		                  			DB에 새로운 행을 추가
		                		</p>
		              		</div>
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			DB에서 행을 삭제
		                		</p>
		              		</div>
		            	</div>
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			검색창에서 d를 검색
		                		</p>
		              		</div>
			              	<div class="carousel-small-item">
			                	<div class="li-imagediv">
			                  		<img class="li-image grayborder" src="" />
			                	</div>
			                	<p class="pharagraph-dark mt-2">
			                  		DB에서 d가 들어간 행이 조회됨
			                	</p>
			              	</div>
		            	</div>
		          	</div>
		        </div>
		        <a
		          class="carousel-control-prev"
		          href="#seekeye-carousel"
		          role="button"
		          data-slide="prev"
		        >
		          	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Previous</span>
		        </a>
		        <a
		          class="carousel-control-next"
		          href="#seekeye-carousel"
		          role="button"
		          data-slide="next"
		        >
		          	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Next</span>
	        	</a>
	      	</div>
		</div>
		<hr/>
		<div class="blog-body" id="friim">
	    	<h1 id="titles">
	        	<font color="#bd5d38" style="font-size: 5rem;">F</font>riim
	      	</h1>
	      	<p class="pharagraph" style="padding-left: 15px; margin-top: -20px;">
	        	Seekers (2021.06 ~ 2022.08)
	      	</p>
	      	<div
	        id="friim-carousel"
	        class="carousel slide"
	        data-pause="hover"
	        data-interval="false"
	        data-ride="carousel"
	      	>
		        <div class="carousel-inner">
		          	<div class="carousel-item active carousel-content">
		            	<div class="cc-main">
		              		<div class="ccmain-image">
		                		<img class="cmImage" src="" />
		              		</div>
			              	<div class="ccmain-desc">
			                	<p class="pharagraph-dark">
				                	설명란
			                	</p>
			              	</div>
		            	</div>
			            <div class="cc-bottom">
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap">
			                		<img src="/assets/images/icons/springboot.png" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap" style="padding-top: 10px;">
			                		<img src="/assets/images/icons/psql.jpg" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap">
			                		<img src="/assets/images/icons/aws.png" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap" style="padding-top: 10px;">
			                		<img src="/assets/images/icons/azure.png" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap" style="padding-top: 20px;">
			                		<img src="/assets/images/icons/elasticsearch.png" class="cbcImage" />
			                	</div>
			              	</div>
			            </div>
		          </div>
		          <div class="carousel-item carousel-content contentPadding">
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="" />
		                		</div>
		               		 	<p class="pharagraph-dark mt-2">
		                  			DB에 새로운 행을 추가
		                		</p>
		              		</div>
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			DB에서 행을 삭제
		                		</p>
		              		</div>
		            	</div>
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			검색창에서 d를 검색
		                		</p>
		              		</div>
			              	<div class="carousel-small-item">
			                	<div class="li-imagediv">
			                  		<img class="li-image grayborder" src="" />
			                	</div>
			                	<p class="pharagraph-dark mt-2">
			                  		DB에서 d가 들어간 행이 조회됨
			                	</p>
			              	</div>
		            	</div>
		          	</div>
		        </div>
		        <a
		          class="carousel-control-prev"
		          href="#friim-carousel"
		          role="button"
		          data-slide="prev"
		        >
		          	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Previous</span>
		        </a>
		        <a
		          class="carousel-control-next"
		          href="#friim-carousel"
		          role="button"
		          data-slide="next"
		        >
		          	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Next</span>
	        	</a>
	      	</div>
		</div>
		<hr/>
		<div class="blog-body" id="humetro">
	    	<h1 id="titles">
	        	<font color="#bd5d38" style="font-size: 5rem;">부</font>산교통공사
	      	</h1>
	      	<p class="pharagraph" style="padding-left: 15px; margin-top: -20px;">
	        	Seekers (2022.09 ~ )
	      	</p>
	      	<div
	        id="humetro-carousel"
	        class="carousel slide"
	        data-pause="hover"
	        data-interval="false"
	        data-ride="carousel"
	      	>
		        <div class="carousel-inner">
		          	<div class="carousel-item active carousel-content">
		            	<div class="cc-main">
		              		<div class="ccmain-image">
		                		<img class="cmImage" src="" />
		              		</div>
			              	<div class="ccmain-desc">
			                	<p class="pharagraph-dark">
				                	설명란
			                	</p>
			              	</div>
		            	</div>
			            <div class="cc-bottom">
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap">
			                		<img src="/assets/images/icons/springboot.png" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap" style="padding-top: 10px;">
			                		<img src="/assets/images/icons/psql.jpg" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap" style="padding-top: 20px;">
			                		<img src="/assets/images/icons/elasticsearch.png" class="cbcImage" />
			                	</div>
			              	</div>
			            </div>
		          </div>
		          <div class="carousel-item carousel-content contentPadding">
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="" />
		                		</div>
		               		 	<p class="pharagraph-dark mt-2">
		                  			DB에 새로운 행을 추가
		                		</p>
		              		</div>
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			DB에서 행을 삭제
		                		</p>
		              		</div>
		            	</div>
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			검색창에서 d를 검색
		                		</p>
		              		</div>
			              	<div class="carousel-small-item">
			                	<div class="li-imagediv">
			                  		<img class="li-image grayborder" src="" />
			                	</div>
			                	<p class="pharagraph-dark mt-2">
			                  		DB에서 d가 들어간 행이 조회됨
			                	</p>
			              	</div>
		            	</div>
		          </div>
		        </div>
		        <a
		          class="carousel-control-prev"
		          href="#humetro-carousel"
		          role="button"
		          data-slide="prev"
		        >
		          	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Previous</span>
		        </a>
		        <a
		          class="carousel-control-next"
		          href="#humetro-carousel"
		          role="button"
		          data-slide="next"
		        >
		          	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Next</span>
	        	</a>
	      	</div>
		</div>
    <script th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
    <th:block th:replace="fragments/loginModal :: loginFragment"></th:block>
    <th:block th:replace="fragments/joinModal :: joinFragment"></th:block>
  </body>
</html>