<!DOCTYPE html>
<html lang="ko">
  <head>
  	<th:block th:replace="fragments/header :: headerFragment"></th:block>
  </head>
  <body>
    <th:block th:replace="fragments/sidenav :: sideFragment"></th:block>
	    <div class="blog-body" id="blockchain">
	    	<h1 id="titles">
	        	<font color="#bd5d38" style="font-size: 5rem;">R</font>ust 블록체인 프로젝트
	      	</h1>
	      	<p class="pharagraph" style="padding-left: 15px; margin-top: -20px;">
	        	사이드 프로젝트
	      	</p>
	      	<div
	        id="blockchain-carousel"
	        class="carousel slide"
	        data-pause="hover"
	        data-interval="false"
	        data-ride="carousel"
	      	>
		        <div class="carousel-inner">
		          	<div class="carousel-item active carousel-content">
		            	<div class="cc-main">
		              		<div class="ccmain-image">
		                		<img class="cmImage" src="/assets/images/temp_image.png" />
		              		</div>
			              	<div class="ccmain-desc">
			                	<p class="pharagraph-dark">
				                	설명란
			                	</p>
			              	</div>
		            	</div>
			            <div class="cc-bottom">
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap">
			                		<img src="/assets/images/icons/rust.png" class="cbcImage" />
			                	</div>
			              	</div>
			            </div>
		          </div>
		          <div class="carousel-item carousel-content contentPadding">
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="/assets/images/temp_image.png" />
		                		</div>
		               		 	<p class="pharagraph-dark mt-2">
		                  			DB에 새로운 행을 추가
		                		</p>
		              		</div>
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="/assets/images/temp_image.png" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			DB에서 행을 삭제
		                		</p>
		              		</div>
		            	</div>
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="/assets/images/temp_image.png" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			검색창에서 d를 검색
		                		</p>
		              		</div>
			              	<div class="carousel-small-item">
			                	<div class="li-imagediv">
			                  		<img class="li-image grayborder" src="/assets/images/temp_image.png" />
			                	</div>
			                	<p class="pharagraph-dark mt-2">
			                  		DB에서 d가 들어간 행이 조회됨
			                	</p>
			              	</div>
		            	</div>
		          	</div>
		        </div>
		        <a
		          class="carousel-control-prev"
		          href="#blockchain-carousel"
		          role="button"
		          data-slide="prev"
		        >
		          	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Previous</span>
		        </a>
		        <a
		          class="carousel-control-next"
		          href="#blockchain-carousel"
		          role="button"
		          data-slide="next"
		        >
		          	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Next</span>
	        	</a>
	      	</div>
		</div>
		<hr/>
		<div class="blog-body" id="blockchain">
	    	<h1 id="titles">
	        	<font color="#bd5d38" style="font-size: 5rem;">포</font>트폴리오 블로그
	      	</h1>
	      	<p class="pharagraph" style="padding-left: 15px; margin-top: -20px;">
	        	사이드 프로젝트
	      	</p>
	      	<div
	        id="blockchain-carousel"
	        class="carousel slide"
	        data-pause="hover"
	        data-interval="false"
	        data-ride="carousel"
	      	>
		        <div class="carousel-inner">
		          	<div class="carousel-item active carousel-content">
		            	<div class="cc-main">
		              		<div class="ccmain-image">
		                		<img class="cmImage" src="/assets/images/temp_image.png" />
		              		</div>
			              	<div class="ccmain-desc">
			                	<p class="pharagraph-dark">
				                	설명란
			                	</p>
			              	</div>
		            	</div>
			            <div class="cc-bottom">
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap">
			                		<img src="/assets/images/icons/springboot.png" class="cbcImage" />
			                	</div>
			              	</div>
			              	<div class="cb-content cbpadtop">
			              		<div class="cb-image-wrap" style="padding-top: 10px;">
			                		<img src="/assets/images/icons/psql.jpg" class="cbcImage" />
			                	</div>
			              	</div>
			            </div>
		          </div>
		          <div class="carousel-item carousel-content contentPadding">
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="/assets/images/temp_image.png" />
		                		</div>
		               		 	<p class="pharagraph-dark mt-2">
		                  			DB에 새로운 행을 추가
		                		</p>
		              		</div>
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="/assets/images/temp_image.png" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			DB에서 행을 삭제
		                		</p>
		              		</div>
		            	</div>
		            	<div class="cc-sub">
		              		<div class="carousel-small-item">
		                		<div class="li-imagediv">
		                  			<img class="li-image grayborder" src="/assets/images/temp_image.png" />
		                		</div>
		                		<p class="pharagraph-dark mt-2">
		                  			검색창에서 d를 검색
		                		</p>
		              		</div>
			              	<div class="carousel-small-item">
			                	<div class="li-imagediv">
			                  		<img class="li-image grayborder" src="/assets/images/temp_image.png" />
			                	</div>
			                	<p class="pharagraph-dark mt-2">
			                  		DB에서 d가 들어간 행이 조회됨
			                	</p>
			              	</div>
		            	</div>
		          	</div>
		        </div>
		        <a
		          class="carousel-control-prev"
		          href="#blockchain-carousel"
		          role="button"
		          data-slide="prev"
		        >
		          	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Previous</span>
		        </a>
		        <a
		          class="carousel-control-next"
		          href="#blockchain-carousel"
		          role="button"
		          data-slide="next"
		        >
		          	<span class="carousel-control-next-icon" aria-hidden="true"></span>
		          	<span class="sr-only">Next</span>
	        	</a>
	      	</div>
		</div>
    <th:block th:replace="fragments/loginModal :: loginFragment"></th:block>
    <th:block th:replace="fragments/joinModal :: joinFragment"></th:block>
  </body>
</html>