<!DOCTYPE html>
<html lang="ko">
  <head>
  	<th:block th:replace="fragments/header :: headerFragment"></th:block>
  	<link rel="stylesheet" th:href="@{/assets/css/post.css}" />
  </head>
  <body>
    <th:block th:replace="fragments/sidenav :: sideFragment"></th:block>
	    <div class="postlist">
	    	<div>
	            <div th:if="${post != null}">
	            	<input name="post-id" type="hidden" th:value="${post.get('uuid').textValue()}">
	                <div th:if="${post.get('category').textValue().equals('study')}" class="post-category">공부</div>
	                <div th:if="${post.get('category').textValue().equals('dev')}" class="post-category">프로젝트 진행</div>
	                <h1 class="post-title" th:text="${post.get('subject').textValue()}"></h1>
	                <div class="post-date" th:text="${post.get('createdTimeAt').longValue()}"></div>
	                <hr/>
	                <div class="post-content" th:utext="${post.get('content').textValue()}">
	                </div>
	                <div class="post-buttons">
	                	<th:block th:if="${userInfo != null}">
		            		<button th:if="${userInfo.get('role').textValue().equals('ROLE_ADMIN')}" class="button" btn-usage="write-post">글쓰기</button>
		            		<button th:if="${userInfo.get('role').textValue().equals('ROLE_ADMIN')}" class="button" btn-usage="modify-post">수정</button>
	                   		<button th:if="${userInfo.get('role').textValue().equals('ROLE_ADMIN')}" class="button" btn-usage="delete-post">삭제</button>
		            	</th:block>
	                </div>
	            </div>
	            <div th:unless="${post != null}">
		            <div class="post-category"></div>
		            <h1 className="post-title">글이 없습니다.</h1>
		            
		            <div class="post-buttons">
		            	<th:block th:if="${userInfo != null}">
		            		<button th:if="${userInfo.get('role').textValue().equals('ROLE_ADMIN')}" class="button" btn-usage="write-post">글쓰기</button>
		            	</th:block>
	                </div>
	            </div>
	        </div>
	    	<!-- comment list -->
	    	<div class="post-comment mt40">
	            <div class="comment-container" th:if="${post != null}">
	                <div th:each="comment : ${post.get('comments')}" class="comments" th:if="${!comment.get('isDeleted').booleanValue()}" th:comment-id="${comment.get('uuid').textValue()}">
	                    <div class="comments-writer" th:text="${comment.get('writer').textValue()}">{value.writer}</div>
	                    <p class="comments-content" th:text="${comment.get('content').textValue()}"></p>
	                    <div class="comments-etc">
	                        <div>
	                            <br/>
	                            <span th:text="${comment.get('createdTimeAt').textValue()}"></span>	
	                        </div>
	                        <div>
	                            <button class="button" btn-usage="delete-comment">삭제</button>
	                        </div>
	                    </div>
	                </div>
	                <div th:if="${userInfo == null}" class="comment-info">
	                    <input class="guest-info" name="comment-writer" placeholder="이름"></input>
	                    <input class="guest-info" name="comment-password" type="password" placeholder="비밀번호"></input>
	                </div>
	                <div th:unless="${userInfo == null}" class="comment-info">
	                	<input type="hidden" name="comment-writer-id" th:value="${userInfo.get('userId').textValue()}">
	                	<input type="hidden" name="comment-writer" th:value="${userInfo.get('userNickname').textValue()}">
	                    <div class="comments-writer" th:text="${userInfo.get('userNickname').textValue()}"></div>
	                </div>
	                <textarea class="comment-content" name="comment-content" placeholder="댓글을 입력해주세요"></textarea>
	                <div class="flexend"><button class="button" btn-usage="write-comment">등록</button></div>
	            </div>
	        </div>
			<!-- post list -->	    
            <table class="postlist-table mt40">
                <thead>
                    <tr class="postlist-category">
                        <th width="90%" class="padding-left-10">리스트</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="postlist-posts" th:post-id="${list.get('uuid').textValue()}" th:each="list : ${postlist}">
	                    <td class="padding-left-10"><a th:text="${list.get('subject').textValue()}"></a></td>
	                    <td class="postlist-date" th:text="${list.get('createdTimeAt').textValue()}"></td>
	                </tr>
                </tbody>
            </table>
            <div class="post-prevnext">
                <button th:onclick="'javascript:prevPage(' + ${page} + ')'" class="post-prevnext-button" th:if="${page != 0}">←prev</button>
                <button th:onclick="'javascript:nextPage(' + ${page} + ')'" class="post-prevnext-button" th:if="${page + 1 != totalPages}">next→</button>
            </div>
        </div>
    <th:block th:replace="fragments/loginModal :: loginFragment"></th:block>
    <th:block th:replace="fragments/joinModal :: joinFragment"></th:block>
  </body>
  <script type="text/javascript" th:src="@{/assets/js/blog/posts.js}"></script>
</html>