<th:block th:fragment="headerFragment">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap/bootstrap.css"/>
	<link rel="stylesheet" href="/assets/css/default.css"/>
	<link rel="stylesheet" href="/assets/css/modal.css" />
	<link rel="stylesheet" href="/assets/css/editor.css" />
	
	<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css2?family=Gugi&family=Nanum+Gothic&display=swap" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet"/>
	<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet"/>
	
	<script th:src="@{/assets/js/jquery-3.6.0.js}"></script>
	<script th:src="@{/assets/js/common.js}"></script>
	<!--fontawesome-->
	<script src="https://kit.fontawesome.com/a90dac9e2e.js" crossorigin="anonymous"></script>
	<script th:src="@{/assets/js/ckeditor/ckeditor.js}"></script>
</th:block>