<th:block th:fragment="sideFragment">
	<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-orange" id="sideNav" th:fragment="sideFragment">
	  <span class="d-block d-lg-none">포트폴리오 - 조현승</span>
	  <span class="d-none d-lg-block">
	    <img class="img-fluid img-profile rounded-circle" th:src="@{/assets/images/hs5.jpg}"/>
	  </span>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav">
	      <li class="nav-item">
	        <div class="projectCategory">프로필</div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/career">경력</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/skill">기술</a>
	      </li>
	      <li class="nav-item">
	        <div class="projectCategory">사이드 프로젝트</div>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/project/blockchain">Rust 블록체인</a>
	      </li>
	      <li class="nav-item">
	        <div class="projectCategory">블로그</div>
	      </li> 
	      <li class="nav-item">
	        <a class="nav-link" href="/blog/study">공부</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/blog/dev">프로젝트 진행</a>
	      </li>
	    </ul>
	  </div>
	  <div>
		  <button btn-usage="login" type="button" class="btn btn-link">로그인</button>
		  <button btn-usage="join" type="button" class="btn btn-link">회원가입</button>
	  </div>
	</nav>
</th:block>